:root {
    /* Primary */
    --light_red : hsl(0, 100%, 67%);
    --orangey_yellow : hsl(39, 100%, 56%);
    --green_teal : hsl(166, 100%, 37%);
    --cobalt_blue : hsl(234, 85%, 45%);

    /* Gradients */
    --light_slate_blue : hsl(252, 100%, 67%); /* background */
    --light_royal_blue : hsl(241, 81%, 54%); /* background */

    --violet_blue : hsla(256, 72%, 46%, 1); /* circle */
    --persian_blue : hsla(241, 72%, 46%, 0); /* circle */
    
    /* Neutral */
    --white : hsl(0, 0%, 100%);
    --white : hsl(221, 100%, 96%);
    --light_lavender : hsl(241, 100%, 89%);
    --dark_gray_blue : hsl(224, 30%, 27%);
}

html, body {
    height: 100%;
    margin: 0;
}

.Title {
    visibility: hidden;
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
    font-family: Hanken Grotesk;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* This ensures your main takes the full viewport height */
}

.Big_section {
    display: flex;
    background-color: white;
    width: 50vw;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    max-width: 1440px;
}

.Left_section {
    padding: 1.5rem;
    z-index: 2;
    background: rgb(132,87,255);
    background: -moz-linear-gradient(180deg, rgba(132,87,255,1) 0%, rgba(46,43,233,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(132,87,255,1) 0%, rgba(46,43,233,1) 100%);
    background: linear-gradient(180deg, rgba(132,87,255,1) 0%, rgba(46,43,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8457ff",endColorstr="#2e2be9",GradientType=1);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    height: fit-content;
    width: 50%;
}

.Title_result {
    margin: 0px 0px 20px 0px;
    color: rgb(213 203 255);
}

.Circle {
    background: rgb(78,33,202);
    background: -moz-linear-gradient(180deg, rgba(78,33,202,1) 0%, rgba(36,33,202,0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(78,33,202,1) 0%, rgba(36,33,202,0) 100%);
    background: linear-gradient(180deg, rgba(78,33,202,1) 0%, rgba(36,33,202,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4e21ca",endColorstr="#2421ca",GradientType=1);    display: inline-block;
    width: 10rem; 
    height: 10rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.Big_num {
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

.Small_num {
    margin: 0;
    color: rgb(132 118 255);
}

.Big_text {
    font-size: 1.7rem;
    margin: 25px 0px 10px 0px;
}

.Text {
    font-size: 18px;
    font-weight: 500;
    color: rgb(195 199 255);
    margin: 0;
    max-width: 260px;
}

.Right_section {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: auto;
    width: 50%;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 1.5rem;
    gap: 1rem;
}

.Title_summary {
    margin: 0;
    display: flex;
    align-self: flex-start;
}

.Line_reaction, .Line_memory, .Line_verbal, .Line_visual {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    font-weight: 800;
    width: 100%;
    justify-content: space-between;
}

.Text_icon {
    display: flex;
}

.Line_reaction {
    color: var(--light_red);
    background-color: rgb(255 245 246);
}


.Line_memory {
    color: var(--orangey_yellow);
    background-color: rgb(255 251 242);
}

.Line_verbal {
    color: var(--green_teal);
    background-color:rgb(242 250 250);
}

.Line_visual {
    color: var(--violet_blue);
    background-color: rgb(243 243 252);
}

.Score {
    display: flex;
    margin: 0;
    padding: 0 0.5rem;
    align-self: flex-end;
}

.Score_strong, .Title_summary {
    color: hsl(235deg 11% 30%);
    font-weight: 700;
}

.Score_weak {
    color: hsl(203deg 7% 63%);
    font-weight: 700;
}

.Icon {
    padding: 0 0.5rem 0 0.5rem;
}

.Text_sum {
    padding: 0;
}

.Continue-Btn {
    background-color: rgb(47 60 89);
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 50px;
    color: white;
    font-family: Hanken Grotesk;
    /* margin: 1rem; */
}

@media (max-width: 1000px) {
    .Left_section {
        width: 100%;
        border-radius: 0 0 2rem 2rem;
    }

   .Circle {
    width: 6rem;
    height: 6rem;
}

    .Big_num {
        font-size: 3.5rem;
    }

    .Title_result {
        font-size: 1.2rem;
    }

    .Big_text {
        font-size: 1.5rem;
        margin: 30px 0 0 0;
    }

    .Text {
        padding: 0.9rem;
        font-size: 1rem;
    }

    .Right_section {
        width: 100%;
        padding: 0.5rem 2rem;
        gap: 0.8rem;
        /* height: 70vh; */
    }

    .Title_summary {
        font-size: 1.3rem;
    }

    .Big_section{
        flex-flow: row wrap;
        width: 100vw;
        height: 100vh;
        max-width: 375px;
        min-width: 300px;
        border-radius: 0;
    }
    .Continue-Btn {
        margin: 0;
    }
}